{
    "presets": ["es2015", "react"],
    "plugins": [
        ["./plugin.js", {
            "modules": {
                "./demo/create": {
                    "createComponent": true,
                    "default": true
                }
            }
        }],
        "syntax-object-rest-spread",
        "transform-object-rest-spread"
    ]
}
